:root {
  --bgColor-primary: #d9d9d9;
  --bgColor-inverse: #000000;
  --bgColor-footer: #464a53;

  --color-gray: #394a58;
  --color-red: #FA5252;
  --color-green: #a3a86b;
  --color-blue: #0066a1;
  --color-white: #ffffff;
}